:root {
    --container-padding: 20px;
    --input-padding-vertical: 6px;
    --input-padding-horizontal: 4px;
    --input-margin-vertical: 4px;
    --input-margin-horizontal: 0;
}

body {
    padding: var(--container-padding);
    color: var(--vscode-foreground);
    font-size: var(--vscode-font-size);
    font-weight: var(--vscode-font-weight);
    font-family: var(--vscode-font-family);
    background-color: var(--vscode-editor-background);
}

ol,
ul {
    padding-left: var(--container-padding);
}

body > *,
form > * {
    margin-block-start: var(--input-margin-vertical);
    margin-block-end: var(--input-margin-vertical);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

*:focus {
    outline-color: var(--vscode-focusBorder) !important;
}

a {
    color: var(--vscode-textLink-foreground);
    text-decoration: none;
}

a:hover,
a:active {
    color: var(--vscode-textLink-activeForeground);
}

code {
    font-size: var(--vscode-editor-font-size);
    font-family: var(--vscode-editor-font-family);
}

button {
    border: none;
    padding: var(--input-padding-vertical) var(--input-padding-horizontal);
    width: 100%;
    text-align: center;
    outline: 1px solid transparent;
    outline-offset: 2px !important;
    color: var(--vscode-button-foreground);
    background: var(--vscode-button-background);
}

button:hover {
    cursor: pointer;
    background: var(--vscode-button-hoverBackground);
}

button:focus {
    outline-color: var(--vscode-focusBorder);
}

button.secondary {
    color: var(--vscode-button-secondaryForeground);
    background: var(--vscode-button-secondaryBackground);
}

button.secondary:hover {
    background: var(--vscode-button-secondaryHoverBackground);
}

input[type="text"],
input[type="search"],
textarea {
    display: block;
    width: 100%;
    border: none;
    font-family: var(--vscode-font-family);
    padding: var(--input-padding-vertical) var(--input-padding-horizontal);
    color: var(--vscode-input-foreground);
    outline-color: var(--vscode-input-border);
    background-color: var(--vscode-input-background);
}

input::placeholder,
textarea::placeholder {
    color: var(--vscode-input-placeholderForeground);
}

body {
    background-color: transparent;
}

.color-list {
    list-style: none;
    padding: 0;
}

.color-entry {
    width: 100%;
    display: flex;
    margin-bottom: 0.4em;
    border: 1px solid var(--vscode-input-border);
}

.color-preview {
    width: 2em;
    height: 2em;
}

.color-preview:hover {
    outline: inset white;
}

body .sticky-banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 var(--container-padding) 5px;
    background-color: var(--vscode-sideBar-background);
    margin: 0;
    z-index: 10;
}

.results {
    margin-top: calc(var(--container-padding) + 20px);
}

.results .link {
    word-break: break-word;
}

.results .link.deprecated {
    position: relative;
    text-decoration: line-through;
}

.results .link.deprecated::before {
    position: absolute;
    left: -16px;
    width: 20px;
    height: 20px;
    content: "⚠";
}

.results .description {
    margin: 0 0 var(--container-padding) 0;
    word-break: break-word;
}

.badge {
    border: 1px solid currentColor;
    padding: 0 5px;
    font-size: 0.7em;
    margin-bottom: 8px;
    display: inline-block;
}

input[type="radio"] {
    margin: 0px;
    padding: 0;
    vertical-align: middle;
}

.filters {
    margin-bottom: 5px;
}

.color-input {
    display: block;
    flex: 1;
    width: 100%;
    color: var(--vscode-input-foreground);
    background-color: var(--vscode-input-background);
    border: none;
    padding: 0 0.6em;
}

.add-color-button {
    display: block;
    border: none;
    margin: 0 auto;
}

.loader {
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1px;
    display: none;
}

.loader .loaderBar {
    position: absolute;
    border-radius: 10px;
    top: 0;
    right: 100%;
    bottom: 0;
    left: 0;
    background: var(--vscode-focusBorder);
    width: 0;
    width: 5%;
    animation: borealisBar 5s linear infinite;
}

@keyframes borealisBar {
    0% {
        left: 0%;
        right: 100%;
    }
    100% {
        left: 100%;
        right: 0%;
    }
}
